* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets 1rem equal to 10px */
html {
    font-size: 62.5%;
}


/* General headings & paragraph formatting */
h3 {
    font-size: 3rem;
}

p {
    font-size: 1.7rem;
    /* width: 25%; */
}
.container-background {
    background-color: #B0CDB6;
    padding: 7% 15%;
}


/* Navbar  */
.navbar {
    background-color: #B0CDB6;
   
}

/* styling-font color for ul li a*/
.nav-link {
    font-size: 2rem;
    margin-right: 2rem;
    color:#545556 ;
}
.nav-link:hover {
    color: #fff;
}
ul li a {
    text-decoration: none;
}



/* Intro section */
#quote {
    border: #B0CDB6 8px dotted;
    width: 55%;
    height: 35%;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    padding: 3%;
    color: #545556;    
   
}
/* About Me Section */
.aboutme {
    color:#545556;
    font-size: 4.5rem;
    display: block;
    text-align: center;
}

.fact-boxes{
    margin-bottom: 10%;
}

#about {
    position: relative;
  }
  
  .fact-title {
    font-size: 2.0rem;
  }
  
  .fact-box {
    padding: 2.5%;
    text-align: center;
  }
  
  
  /* font awesome images for facts */
  
  .icon-img {
    color: #2f5d62;
    margin-bottom: 1rem;
  }
  
  .icon-img:hover {
    color: #B0CDB6;
  }


  /* work section */
  
.border-box-image {
    background-color: #fff;
}
/* refractor with aboutme if time allows*/
#my-work {
    color:#545556;
    font-size: 4.5rem;
    display: block;
    text-align: center; 
}

  .work-text {
    font-size: 3rem;
    line-height: 1.5;
    color: #545556;
    display: inline-block;
    text-align: right; 
  }
.work-para {
    text-align: center;
    color: #545556;
    padding: 3%;
}
.btn {
    width: 25%;
    font-size: 1.5rem;
    border: #2f5d62 2px solid;
    
}
.btn:hover {
    background-color: #2f5d62;
    color: #fff;
}
  
  /* images */
 .card-img-top {
     width: 100%;
     height: 60%;
 }
 .me-img {
     height: 25%;
     width: 25%;
     border-radius: 100%;
     margin: 5%;
 }
 .project-image {
     height: 95%;
     width: 45%;
 }

/* footer social icons */
.social-icon {
    margin: 20px 10px;
    font-size: 25px;
    color: #2f5d62;
  }


  
  /* @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  } */


/* this was added as a way to clean up the spacing when in a mobile version */
/* .break {
    margin-right: -64px;
    flex-basis: 0;
} */

/* class for all my H4, probably didn't need. */
/* .box-title {
    font-size: 2rem;
    margin-bottom: .5rem;
} */
/* h4 paragraph font size */
/* .box-title p {
    font-size: 1.5rem;
} */


/* @media screen and (max-width:992px) {
    .sml-image {
        width: 100%;
    }
    .first-image {
        margin-bottom: 2rem;
    }
    .footer-container ul {
        flex-wrap: wrap;
    }
    .break {
        flex-basis: 100%;
        height: 2rem;
    }
    
} */

/* @media screen and (max-width:768px) {

    h1 {
       width: 100%;
        top: 0%;
        right: 0%;
    }
    header {
        padding: 0;
    }
    header nav {
        position: relative;
        top: 0%;
        left: 0%;
    }
    .section-header {
        width: 100%;
        border-right: none;
        border-bottom: dotted 7px #B0CDB6;
        padding-right: none;
        text-align: center;
    }
    .section-box {
        flex-direction: column;
    }
    #break {
        height: 0;
    }
    .footer-container ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        
       
    }
} */